<a href="https://colab.research.google.com/github/ash030889/Machine-Learning/blob/main/Ridge%26Lasso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing the packages
import pandas as pd
import numpy as np
from sklearn import datasets #built in datasets

In [ ]:
boston_dataset=datasets.load_boston()

In [ ]:
boston_pd=pd.DataFrame(boston_dataset.data)
boston_pd.columns=boston_dataset.feature_names
boston_pd_target=np.asarray(boston_dataset.target)
boston_pd['House Price']=pd.Series(boston_pd_target)

In [ ]:
boston_pd.head()

      CRIM    ZN  INDUS  CHAS  ...  PTRATIO       B  LSTAT  House Price
0  0.00632  18.0   2.31   0.0  ...     15.3  396.90   4.98         24.0
1  0.02731   0.0   7.07   0.0  ...     17.8  396.90   9.14         21.6
2  0.02729   0.0   7.07   0.0  ...     17.8  392.83   4.03         34.7
3  0.03237   0.0   2.18   0.0  ...     18.7  394.63   2.94         33.4
4  0.06905   0.0   2.18   0.0  ...     18.7  396.90   5.33         36.2

[5 rows x 14 columns]

In [ ]:
X=boston_pd.iloc[:,:-1] #independent columns

In [ ]:
X.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [ ]:
Y=boston_pd.iloc[:,-1] #dependent columns

In [ ]:
Y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: House Price, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.25)

LINEAR REGRESSION

In [ ]:
from sklearn.linear_model import LinearRegression
lreg=LinearRegression()

In [ ]:
lreg.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
predictions=lreg.predict(X_test)

In [ ]:
lreg_coefficient=pd.DataFrame()
lreg_coefficient["Columns"]=X_train.columns
lreg_coefficient["Coefficient Estimate"]=pd.Series(lreg.coef_)
print(lreg_coefficient)

    Columns  Coefficient Estimate
0      CRIM             -0.108382
1        ZN              0.049582
2     INDUS              0.031731
3      CHAS              3.016355
4       NOX            -18.182809
5        RM              4.161522
6       AGE             -0.002454
7       DIS             -1.438096
8       RAD              0.302532
9       TAX             -0.014069
10  PTRATIO             -0.911227
11        B              0.007894
12    LSTAT             -0.466646

In [ ]:
lreg.score(X,Y)

0.7390849474639747

RIDGE REGRESSION

In [ ]:
from sklearn.linear_model import Ridge
ridge=Ridge(alpha=1) #alpha is the penalizing parameter
ridge.fit(X_train,Y_train)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001)

In [ ]:
predictions_ridge=ridge.predict(X_test)

In [ ]:
ridge_coefficient=pd.DataFrame()
ridge_coefficient["Columns"]=X_train.columns
ridge_coefficient["Coefficient Estimate"]=pd.Series(ridge.coef_)
print(ridge_coefficient)

    Columns  Coefficient Estimate
0      CRIM             -0.105675
1        ZN              0.051416
2     INDUS             -0.006904
3      CHAS              2.879283
4       NOX             -9.782195
5        RM              4.241331
6       AGE             -0.010286
7       DIS             -1.326282
8       RAD              0.285002
9       TAX             -0.014790
10  PTRATIO             -0.815182
11        B              0.008229
12    LSTAT             -0.471919

In [ ]:
ridge.score(X,Y)

0.7367535869315799

LASSO REGRESSION

In [ ]:
from sklearn.linear_model import Lasso
lasso=Lasso(alpha=1) #alpha is the penalizing parameter
lasso.fit(X_train,Y_train)

Lasso(alpha=1, copy_X=True, fit_intercept=True, max_iter=1000, normalize=False,
      positive=False, precompute=False, random_state=None, selection='cyclic',
      tol=0.0001, warm_start=False)

In [ ]:
predictions_lasso=lasso.predict(X_test)

In [ ]:
lasso_coefficient=pd.DataFrame()
lasso_coefficient["Columns"]=X_train.columns
lasso_coefficient["Coefficient Estimate"]=pd.Series(lasso.coef_)
print(lasso_coefficient)

    Columns  Coefficient Estimate
0      CRIM             -0.071068
1        ZN              0.058021
2     INDUS             -0.000000
3      CHAS              0.000000
4       NOX             -0.000000
5        RM              1.293592
6       AGE              0.019340
7       DIS             -0.713912
8       RAD              0.277240
9       TAX             -0.017431
10  PTRATIO             -0.655752
11        B              0.007632
12    LSTAT             -0.715142

In [ ]:
lasso.score(X,Y)

0.6885493610780656